aiohappyeyeballs==2.6.1
aiohttp==3.11.17
aiosignal==1.3.2
alabaster
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
arrow
asteroid
asttokens
async-timeout
asyncssh
atomicwrites==1.4.0
attrs==25.3.0
autopep8
babel==2.17.0
beautifulsoup4==4.13.3
bertopic==0.17.0
binaryornot
black
bleach
blinker==1.9.0
blis==1.3.0
branca==0.8.1
brotli
cachetools==5.5.2
catalogue==2.0.10
certifi
cffi
chardet==5.2.0
charset-normalizer==3.4.1
click
cloudpathlib==0.21.0
cloudpickle
colorama
comm
confection==0.1.5
contourpy==1.3.1
cookiecutter
courlan==1.3.2
cryptography==44.0.2
cssselect==1.3.0
cycler==0.12.1
cymem==2.0.11
dateparser==1.2.1
debugpy
decorator
deep-translator==1.11.4
defusedxml
Deprecated
diff-match-patch
dill
distro==1.9.0
dnspython==2.7.0
docstring-to-markdown
docutils
duckduckgo_search==8.0.1
emoji==2.14.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
exceptiongroup
executing
faiss-cpu==1.10.0
fastapi==0.115.12
fastjsonschema
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.18.0
flake8
folium==0.19.5
fonttools==4.57.0
fpdf==1.7.2
fpdf2==2.8.2
frozenlist==1.6.0
fsspec==2025.3.2
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.69.2
goose3==3.1.19
grpcio==1.72.0rc1
grpcio-status==1.71.0
h11==0.14.0
hdbscan==0.8.40
htmldate==1.9.3
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
imagesize
importlib_metadata==8.6.1
inflection==0.5.1
intervaltree
ipykernel
ipython
isort
jaraco.classes
jedi
jellyfish
jieba3k==0.35.1
Jinja2
jiter==0.9.0
joblib==1.4.2
jsonpickle==4.0.5
jsonschema
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
jupyterlab_pygments
jusText==3.0.2
keybert==0.9.0
keyring
kiwisolver==1.4.8
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
litellm==1.67.0.post1
llvmlite==0.44.0
lxml==5.3.2
lxml_html_clean==0.4.2
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.1
matplotlib-inline
mccabe
mdurl==0.1.2
mistune
more-itertools
motor==3.7.0
mpmath==1.3.0
multidict==6.4.3
murmurhash==1.0.12
mypy-extensions
narwhals==1.34.1
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.4.2
newspaper3k==0.2.8
nltk==3.9.1
numba==0.61.2
numpy==2.2.4
numpydoc
openai==1.75.0
outcome==1.3.0.post0
packaging
pandas==2.2.3
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow==11.1.0
platformdirs
plotly==6.0.1
pluggy
ply==3.11
preshed==3.0.9
primp==0.15.0
prompt-toolkit
propcache
proto-plus==1.26.1
protobuf==5.29.4
psutil
ptyprocess
pure-eval
pyaes==1.6.1
pyahocorasick==2.1.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydeck==0.9.1
pydocstyle
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pymongo==4.12.0
PyMySQL==1.1.1
PyNaCl
pynndescent==0.5.13
pyogrio==0.10.0
pyparsing==3.2.3
PyPDF2==3.0.1
pyproj==3.7.1
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
PySocks
python-dateutil
python-dotenv==1.1.0
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-telegram-bot==22.0
pytoolconfig
pytz==2025.2
pyuca
pyvis==0.3.2
pywin32==308
pywin32-ctypes
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
referencing==0.36.2
regex==2024.11.6
reportlab==4.3.1
requests
requests-file==2.1.0
rich==14.0.0
rope
rpds-py==0.24.0
rsa==4.9
Rtree
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.31.0
sentence-transformers==4.0.2
sentencepiece==0.2.0
sgmllib3k==1.0.0
shapely==2.1.0
shellingham==1.5.4
sip
six
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer
sortedcontainers
soupsieve==2.6
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
srsly==2.5.1
stack-data
starlette==0.46.1
streamlit==1.44.1
streamlit_folium==0.24.0
superqt
sympy==1.13.1
tabulate
Telethon==1.39.0
tenacity==9.1.2
text-unidecode
textblob==0.19.0
textdistance
thinc==8.3.6
threadpoolctl==3.6.0
three-merge
tiktoken==0.9.0
tinycss2
tinysegmenter==0.3
tld==0.13
tldextract==5.2.0
tokenizers==0.21.1
toml==0.10.2
tomli
tomlkit
torch==2.6.0
tornado
tqdm==4.67.1
trafilatura==2.0.0
traitlets
transformers==4.51.3
trio==0.29.0
trio-websocket==0.12.2
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.13.1
tzdata==2025.2
tzlocal==5.3.1
ujson
umap-learn==0.5.7
Unidecode
uritemplate==4.1.1
urllib3
uvicorn==0.34.0
wasabi==1.1.3
watchdog==6.0.0
wcwidth
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
whatthepatch
win-inet-pton
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
xyzservices==2025.1.0
yapf
yarl==1.20.0
youtube-channel-transcript-api==0.0.1
youtube-transcript-api==1.0.3
zipp
